.sheader {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

.snav {
    height: 80px;
    color: #fff;
}

.sbranding,
.smenu-block,
.xmenu-block {
    height: 100%;
}

.sbranding {
    float: left;
}

.slogo {
    height: 100%;

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: relative;
        height: 100%;
    }
    a {
        display: inline-block;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 1;
    }
    .header-logo,
    .logo-text {
        display: inline-block;
        vertical-align: middle;
    }
    .header-logo {
        fill: currentColor;
        width: 32px;
        height: 32px;
    }
    .logo-text {
        margin-left: 4px;
    }
}

.smenu-block,
.xmenu-block {
    float: right;
}

.xmenu-block {
    margin-left: 30px;
}