.xtension-gridbox {
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;

    .entry-img {
        margin-bottom: 1.25em;
    }

    .entry-title {
        font-size: 1em;
        margin: 0 0 0.5em;
    }
}

.xtension-price {
    font-family: $font_alt;
    letter-spacing: 0.05em;
    font-size: 0.75em;
    .price-title {
        color: $weak_color;
    }
    .price-amount {
        color: #ed2050;
        font-weight: 700;
    }
}

.xtension-is-featured {
    display: block;
    position: absolute;
    top: -36px;
    right: -36px;
    width: 72px;
    height: 72px;
    background-color: $accent_color;
    transform: rotate( 45deg );

    .icon {
        position: absolute;
        bottom: 6px;
        top: auto;
        left: 50%;
        margin-left: -8px;
        width: 16px;
        height: 16px;
        fill: #fff;
        transform: rotate( -45deg );
    }
}

.carousel {
    .xtension-gridbox {
        margin-bottom: 0;
    }
}

.feature-block {
    margin-bottom: 5rem;

    &:last-child {
        margin-bottom: 0;
    }
    .fancy-sep {
        margin: 0 0 2rem;
    }
    .subtitle {
        margin-bottom: 1em;
    }
    .feature-block-image {
        text-align: center;
        margin-bottom: 2rem;
    }
    @media( min-width: 1020px ) {
        display: table;
        width: 100%;
        .feature-block-image,
        .feature-block-content {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }
        .feature-block-image {
            padding-right: 20px;
        }
        .feature-block-content {
            padding-left: 20px;
        }

        &.odd {
            .feature-block-image {
                padding-right: 0;
                padding-left: 20px;
                transform: translate( 100%, 0 );
            }
            .feature-block-content {
                padding-right: 20px;
                padding-left: 0;
                transform: translate( -100%, 0 );
            }
        }
    }
}