$font_main: "Lato", sans-serif;
$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_alt: "Poppins", sans-serif;

$text_color: #333;
$strong_color: #000;
$weak_color: #999;
$accent_color: #2f85bb;

$border_color: rgba( 0, 0, 0, 0.08 );